# Typesense
# /Backend/.env <- this is used for internal testing
/Backend/Typesense/data/*

/Backend/Typesense/data/*
/Backend/LinguaSynth/data/*
/Backend/Ollama/data/*
/Backend/Postgres/data/*
/Backend/MinIO/data/*